{% extends 'index.twig' %}
{% block content %}
<div class="box-container">
    <section class="box-info">
        <div class="displayCard">
            <h2 class="info-title">{{box.libelle}}</h2>
            <div>
                <h3>Description de la box : </h3>
                <p class="info-description">{{ box.description }}</p>
            </div>
            {% if  box.kdo %}
            <div class="gift">
                <h2 class="gift-title">- Cadeau -</h2>
                <p class="gift-message">{{ box.message_kdo }}</p>
            </div>
            {% endif %}
            {% if estPredefinie %}
                <a class="bouton" href="{{ url_for('boxCreate') ~ "?idPredefinie=" ~ box.id }}">Créer une box à partir de celle-ci</a>
                <a class="bouton" href="{{ url_for('boxsPredefinies') }}">Retour aux boxs prédéfinies</a>
            {% else %}
                <a class="bouton" href="{{ url_for('boxs') }}">Retour aux boxs</a>
                {% if box.statut == 1 %}
                    <form method="post" action="{{ url_for('definirCourante', {'id': box.id}) }}">
                        <button class="bouton" type="submit">Définir comme box courante</button>
                    </form>
                {% endif %}
                {% if box.statut == 3 and box.token == "" %}
                    <form method="post" action="{{ url_for('generateUrlBox', {'id': box.id}) }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <button class="bouton" type="submit">Generate URL</button>
                    </form>
                {% endif %}
                {% if box.statut == 3 and box.token != "" %}
                    <a class="bouton" onclick="copyUrl('{{ url }}')">Copier URL</a>
                {% endif %}
            {% endif %}
        </div>
    </section>
    <section class="box-prestations">
        <table class="prestations-table">
            <thead>
                <tr class="prestation-row">
                    <th>Prestation</th>
                    <th>Quantité</th>
                    <th>Tarif unitaire</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for prestation in box.prestations %}
                <tr class="prestation-row">
                    <td>{{ prestation.libelle }}</td>
                    <td>{{ prestation.pivot.quantite }}</td>
                    <td>{{ prestation.tarif }} €</td>
                    <td>{{ prestation.tarif * prestation.pivot.quantite  }} €</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="prestation-row">
                    <td><h3>Montant total</h3></td>
                    <td></td>
                    <td></td>
                    <td>{{ box.montant }} €</td>
                </tr>
            </tfoot>
        </table>
    </section>
</div>

<script>
function copyUrl(url) {
    navigator.clipboard.writeText(url);
    callNotification("URL copiée : "+url);
}

function callNotification(message) {
    var notification = document.createElement("div");
    notification.innerText = message;
    notification.classList.add("notification");
    document.body.appendChild(notification);

    setTimeout(function() {
        notification.style.opacity = '0';
        setTimeout(function() {
            document.body.removeChild(notification);
        }, 1500);
    }, 2000);
}
</script>

{% endblock %}