{% extends 'index.twig' %}

{% block content %}
    <div class="invoice-box">
        <div class="invoice-header">
            <h2>{{ box.libelle }}</h2>
            <div class="description">
                <h3>Description:</h3>
                <p>{{ box.description }}</p>
            </div>
            {% if box.kdo %}
                <div class="gift">
                    <h2>Cadeau</h2>
                    <p>{{ box.message_kdo }}</p>
                </div>
            {% endif %}
        </div>
        <table class="invoice-table">
            <thead>
                <tr>
                    <th>Prestation</th>
                    {% if not box.kdo %}
                        <th>Prix unitaire</th>
                    {% endif %}
                    <th>Quantite</th>
                    {% if not box.kdo %}  
                        <th>Total</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for prestation in box.prestations %}
                    <tr>
                        <td>{{ prestation.libelle }}</td>
                        {% if not box.kdo %}
                            <td class="text-right">{{ prestation.tarif }} €</td>
                        {% endif %}
                        <td>{{ prestation.pivot.quantite }}</td>
                        {% if not box.kdo %}
                            <td class="text-right">{{ prestation.tarif * prestation.pivot.quantite }} €</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            {% if not box.kdo %}
                <tfoot>
                    <tr>
                        <td colspan="3">Total:</td>
                        <td class="text-right">{{ box.montant }} €</td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
        
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            .invoice-box {
                width: clamp(300px, 80%, 800px);
                margin: 10px auto; 
                padding: 30px;
                border: 1px solid #eee;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                font-size: 16px;
                line-height: 1.5;
            }
            .invoice-table {
                width: 100%;
                border-collapse: collapse; 
            }
            .invoice-table th,
            .invoice-table td {
                padding: 10px;
                vertical-align: top; 
            }
            .invoice-table th {
                background-color: #eee;
                border-bottom: 1px solid #ddd;
                font-weight: bold;
            }
            .text-right {
                text-align: right;
            }
        </style>
    </div>
    <button class="bouton" onclick="printBoxContainer()">Imprimer la box</button>

    <script>
        function printBoxContainer() {
            // Récupérer le contenu de la box
            var printContents = document.querySelector('.invoice-box').outerHTML;

            // Créer un iframe pour imprimer le contenu
            var printIframe = document.createElement('iframe');
            printIframe.style.display = 'none';
            document.body.appendChild(printIframe);

            // Injecter le contenu dans l'iframe
            printIframe.contentWindow.document.write('<html><head><title>Print</title></head><body>');
            printIframe.contentWindow.document.write(printContents);
            printIframe.contentWindow.document.write('</body></html>');

            // Fermer le document
            printIframe.contentWindow.document.close();

            // Imprimer le document
            printIframe.contentWindow.print();

            // Supprimer l'iframe
            printIframe.parentNode.removeChild(printIframe);
        }
    </script>
{% endblock %}