{% extends 'index.twig' %}
{% block content %}
<div class="box-container">
    <section class="box-info">
        <div class="displayCard">
            <h2 class="info-title">{{box.libelle}}</h2>
            <div>
                <h3>Description de la box : </h3>
                <p class="info-description">{{ box.description }}</p>
            </div>
            {% if  box.kdo %}
            <div class="gift">
                <h2 class="gift-title">- Cadeau -</h2>
                <p class="gift-message">{{ box.message_kdo }}</p>
            </div>
            {% endif %}
            {% if estPredefinie %}
                <a class="bouton" href="{{ url_for('boxCreate') ~ "?idPredefinie=" ~ box.id }}">Créer une box à partir de celle-ci</a>
                <a class="bouton" href="{{ url_for('boxsPredefinies') }}">Retour aux boxs prédéfinies</a>
            {% endif %}
        </div>
    </section>
    <section class="box-prestations">
        <table class="prestations-table">
            <thead>
                <tr class="prestation-row">
                    <th>Prestation</th>
                    <th>Quantité</th>
                    <th>Tarif unitaire</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for prestation in box.prestations %}
                <tr class="prestation-row">
                    <td>{{ prestation.libelle }}</td>
                    <td>{{ prestation.pivot.quantite }}</td>
                    <td>{{ prestation.tarif }} €</td>
                    <td>{{ prestation.tarif * prestation.pivot.quantite  }} €</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="prestation-row">
                    <td><h3>Montant total</h3></td>
                    <td></td>
                    <td></td>
                    <td>{{ box.montant }} €</td>
                </tr>
            </tfoot>
        </table>
    </section>
</div>
{% endblock %}