{% extends 'index.twig' %}
{% block content %}
<div class="box-container">
    <section class="box-info">
        <div class="displayCard">
            <h2 class="info-title">{{libelle}}</h2>
            <div>
                <h3>Description de la box : </h3>
                <p class="info-description">{{ description }}</p>
            </div>
            {% if  kdo %}
            <div class="gift">
                <h2 class="gift-title">- Cadeau -</h2>
                <p class="gift-message">{{ message_kdo }}</p>
            </div>
            {% endif %}
            <a class="bouton" href="{{ url_for('root') }}">Retour au menu</a>
        </div>
    </section>
    <section class="box-prestations">
        <table class="prestations-table">
            <thead>
                <tr class="prestation-row">
                    <th>Prestation</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for prestation in prestations %}
                <tr class="prestation-row">
                    <td>{{ prestation.libelle }}</td>
                    <td>{{ prestation.pivot.quantite }}</td>
                    <td>{{ prestation.tarif * prestation.pivot.quantite  }} €</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="prestation-row">
                    <td><h3>Montant total</h3></td>
                    <td></td>
                    <td>{{ montant }} €</td>
                </tr>
            </tfoot>
        </table>
    </section>
</div>
{% endblock %}