{% extends 'index.twig' %}
{% block content %}
    <div class="displayCard">
        <h2>{{ libelle }}</h2>
        <p>ID: {{ id }}</p>
        <p>Description: {{ description }}</p>
        <div class="buttonContainer">
            <a class="bouton" href="{{ url_for('prestationsCategorie', {'id':id}) }}">Voir les Prestations</a>
            <a class="bouton" href="{{ url_for('categories') }}">Retour aux Catégories</a>
        </div>
    </div>
{% endblock %}