<!DOCTYPE html>
<html>
<head>
    <title>GiftBox</title>
    <link rel="stylesheet" type="text/css" href="{{ base_path() }}/main.css">
</head>
<body>
    <nav>
        <a href="{{ url_for('root') }}">Accueil</a>
        <a href="{{ url_for('categories') }}">Categories</a>
        <a href="{{ url_for('boxCreate') }}">Créer une box</a>
        <a href="{{ url_for('listePrestations') }}">Prestations</a>
        <a href="{{ url_for('boxsPredefinies') }}">Boxs prédéfinies</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        &copy; GiftBox - Kevin Etique - Amaury Quilliec - Maxime Koler
    </footer>
</body>
</html>