{% extends 'index.twig' %}

{% block content %}
    <h1>Liste des prestations</h1>

    {% if prestations %}
    <div>
        <a class="bouton" href="{{ url_for('listePrestations') ~ '?sort=price_asc'}}">Trier par prix croissant</a>
        <a class="bouton" href="{{ url_for('listePrestations') ~ '?sort=price_desc' }}">Trier par prix décroissant</a>
        <a class="bouton" href="{{ url_for('listePrestations') ~ '?sort=alphabet_asc' }}">Trier par ordre alphabétique (A-Z)</a>
        <a class="bouton" href="{{ url_for('listePrestations') ~ '?sort=alphabet_desc' }}">Trier par ordre alphabétique (Z-A)</a>
        <a class="bouton" href="{{ url_for('listePrestations') }}">Supprimer les filtres</a>
    </div>

    <div class="cardContainer">
        {% for prestation in prestations %}
            <a class="card" href="{{ url_for('prestation') ~ "?id=" ~ prestation.id }}">
                <h3>{{ prestation.libelle }}</h3>
                <p>Prix : {{ prestation.tarif }} €</p>
                <p>Catégorie : {{ prestation.categorie.libelle }}</p>
                <img src="{{ base_path() }}/img/{{ prestation.img }}" alt="{{ prestation.libelle }}" class="listImg">
            </a>
        {% endfor %}
    </div>
    {% else %}
        <p>Aucunes prestations disponibles</p>
    {% endif %}

    <a class="bouton" href="{{ url_for('root') }}">Retour au menu</a>
{% endblock %}