{% extends 'index.twig' %}
{% block content %}

<div class="displayCard">
    <h2>{{ prestation.libelle }}</h2>
    <img src="{{base_path()}}/img/{{prestation.img}}" alt="{{prestation.libelle}}">
    <p>Description : {{ prestation.description }}</p>
    {% if prestation.unite %}
        <p>Unités: {{ prestation.unite }}</p>
    {% endif %}
    <p>Catégorie: {{ prestation.categorie.libelle }}</p>
    <p>Prix: {{ prestation.tarif }} €</p>
    
    <form  action="{{ url_for('addPrestationToBox', {'id-presta': prestation.id}) }}" method="POST">
        <fieldset class="formFieldSet">
            <legend>Ajouter la prestation à la box</legend>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div>
                <label for="quantite">Quantité : </label>
                <input type="number" id="quantite" name="quantite" min="1" value="1" required placeholder="Enter quantity">
            </div>
            <button type="submit" class="bouton">Ajouter au coffret</button>
        </fieldset>
    </form>
    {% if admin %}
        <a class="bouton" href="{{ url_for('prestationUpdate', {'id': prestation.id}) }}">Modifier la prestation</a>
    {% endif %}
</div>

<a class="bouton" href="{{ url_for('root')}}">Retour au menu</a>

{% endblock %}