{% extends 'index.twig' %}
{% block content %}

<div class="card">
    <h2>{{ prestation.libelle }}</h2>
    <img src="{{base_path()}}/img/{{prestation.img}}" alt="{{prestation.libelle}}">
    <p>Description : {{ prestation.description }}</p>
    {% if prestation.unite %}
        <p>Unités: {{ prestation.unite }}</p>
    {% endif %}
    <p>Catégorie: {{ prestation.categorie.libelle }}</p>
    <p>Prix: {{ prestation.tarif }} €</p>
</div>



<a class="bouton" href="{{ url_for('root')}}">Retour au menu</a>

{% endblock %}